# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE settings
.vscode/
.idea/
*.code-workspace

# OS files
Thumbs.db
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
